<script type="text/javascript">
  var logged_in = true;
  var user_id = 1
</script>

<div id="push-wrapper"></div>

<%= form_tag(home_push_path, remote: true, id: "message-form") do %>
  <%= text_field_tag 'message', nil, autofocus: true, placeholder: 'Enter message...' %>
<% end %>